@import "../../global.scss";
.technologies {
  background-color: $lightColor;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    font-size: 50px;
    margin-top: 65px;
    margin-bottom: 20px;
    color: #17252a;
    overflow: hidden;
    text-align: center;

    @include md {
      font-size: 40px;
      margin-top: 80px;
      margin-bottom: 0px;
    }
    @include fivehundred {
      font-size: 30px;
    }
    @include xxs {
      margin-left: 15px;
      margin-right: 15px;
    }
  }
  .container {
    width: 100%;
    height: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin-left: 75px;

    @include eighttwenty {
      margin-left: 0px;
    }

    .grid {
      width: fit-content;
      height: fit-content;
      margin: 0 auto;
      display: grid;
      grid-template-columns: repeat(3, minmax(150px, 1fr));
      padding: 10px;
      overflow: hidden;

      @include md {
        grid-template-columns: repeat(3, minmax(80px, 1fr));
      }

      .item {
        width: 120px;
        height: 120px;
        border-radius: 50%;
        border: 1px solid #d5d5d5;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 1s ease;
        opacity: 1;

        @include md {
          width: 80px;
          height: 80px;
        }
        @include xxs {
          width: 60px;
          height: 60px;
        }

        &:hover {
          transform: scale(1.1);
          opacity: 0.85;
        }

        &:nth-child(4),
        &:nth-child(5),
        &:nth-child(6) {
          margin-left: 90px;
          width: 150px;
          height: 150px;

          @include md {
            width: 80px;
            height: 80px;
            margin: 10px;
            margin-left: 40px;
          }
          @include xxs {
            margin-left: 0px;
            width: 60px;
            height: 60px;
            margin-left: 20px;
          }
        }
        img {
          width: 90%;
          object-fit: contain;

          #react {
            color: aqua;
          }
        }
      }
    }
  }
}
// }
