@import "../../global.scss";

.technologies {
  background-color: $lightColor;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    font-size: 40px;
    color: $darkColor;
    overflow: hidden;
    text-align: center;
    margin: 30px 15px;
    opacity: 0;
    @include md {
      font-size: 30px;
    }
    @include fivehundred {
      font-size: 25px;
    }
    @include sm {
      margin: 50px 10px;
    }
    @include xs {
      margin: 20px 10px 30px;
    }
    @include xxs {
      font-size: 25px;
    }
  }

  .container {
    width: 100%;
    height: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin-bottom: 20px;
    opacity: 0;

    @include eighttwenty {
      justify-content: flex-start;
    }

    .grid {
      width: fit-content;
      height: fit-content;
      margin: 0 auto;
      display: grid;
      grid-template-columns: repeat(3, minmax(100px, 1fr));
      padding: 50px;
      overflow: hidden;

      @include xl {
        &:hover {
          .item {
            transform: scale(1.1);
          }
        }
      }
      @include md {
        grid-template-columns: repeat(3, minmax(80px, 1fr));
      }
      @include sm {
        grid-template-columns: repeat(2, minmax(80px, 1fr));
        padding: 15px;
      }

      .item {
        width: 90px;
        height: 90px;
        border-radius: 50%;
        border: 1px solid $lightGreyColor2;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0.2rem 0.2rem 0.5rem 0.25rem $lightGreyColor2;
        transition: all 1s ease;

        // @include eighttwenty {
        //   width: 80px;
        //   height: 80px;
        // }
        @include eighttwenty {
          margin-top: 20px;
        }
        @include sm {
          margin-top: 0px;
          width: 80px;
          height: 80px;
        }
        @include xxs {
          width: 60px;
          height: 60px;
        }
        &:nth-child(4),
        &:nth-child(5),
        &:nth-child(6),
        &:nth-child(10),
        &:last-child {
          margin-left: 90px;

          @include eighttwenty {
            margin-left: 60px;
          }
          @include sm {
            margin-left: 0px;
          }
        }
        &:nth-child(3),
        &:nth-child(4),
        &:nth-child(7),
        &:nth-child(8) {
          @include sm {
            margin-left: 80px;
          }
          @include xxs {
            margin-left: 60px;
          }
        }
        &:last-child {
          @include sm {
            transform: translateX(80px);
          }
          @include xxs {
            transform: translateX(60px);
          }
        }
        img {
          width: 90%;
          object-fit: contain;

          #react {
            color: aqua;
          }
        }
      }
    }
  }
}
