@import "../../global.scss";

.technologies {
  background-color: $lightColor;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25%;
    font-size: 50px;
    margin: 0 15px;
    color: $darkColor;
    overflow: hidden;
    text-align: center;

    @include md {
      font-size: 40px;
    }
    @include fivehundred {
      font-size: 30px;
    }
  }

  .container {
    width: 100%;
    height: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin-bottom: 20px;

    @include md {
      justify-content: flex-start;
    }

    .grid {
      width: fit-content;
      height: fit-content;
      margin: 0 auto;
      display: grid;
      grid-template-columns: repeat(3, minmax(150px, 1fr));
      padding: 50px;
      overflow: hidden;

      @include md {
        grid-template-columns: repeat(3, minmax(80px, 1fr));
      }

      .item {
        width: 120px;
        height: 120px;
        border-radius: 50%;
        border: 1px solid $lightGreyColor;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        // transition: all 0.2s ease;
        opacity: 1;
        z-index: 1;
        transform: translate(calc(var(--posX) * 7px), calc(var(--posY) * 7px));

        &:nth-child(-3n + 8) {
          // background-color: coral;
          transform: translate(
            calc(var(--posY) * 3px),
            calc(var(--posX) * 3px)
          );
        }

        // &:nth-child(-n + 3) {
        //   transform: translate(
        //     calc(var(--posX) * 10px),
        //     calc(var(--posY) * 10px)
        //   );
        // }
        // &:nth-child(n + 7) {
        //   transform: translate(
        //     calc(var(--posX) * 10px),
        //     calc(var(--posY) * 10px)
        //   );
        // }

        @include md {
          width: 80px;
          height: 80px;
        }
        @include xxs {
          width: 60px;
          height: 60px;
        }

        &:nth-child(4),
        &:nth-child(5),
        &:nth-child(6) {
          margin-left: 90px;
          width: 150px;
          height: 150px;
          transform: translate(
            calc(var(--posX) * 5px),
            calc(var(--posY) * 5px)
          );

          @include md {
            width: 80px;
            height: 80px;
            margin: 10px;
            margin-left: 40px;
          }
          @include xxs {
            margin-left: 0px;
            width: 60px;
            height: 60px;
            margin-left: 20px;
          }
        }
        img {
          width: 90%;
          object-fit: contain;

          #react {
            color: aqua;
          }
        }
      }
    }
  }
}
