@import "../../global.scss";
.menu {
  width: 300px;
  height: 100vh;
  background-color: $mainColor;
  position: fixed;
  top: 0;
  right: -500px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 1s ease;

  @include sm {
    width: 100vw;
  }

  &.active {
    right: 0;
  }
  ul {
    list-style: none;
    font-size: 30px;
    color: #feffff;
    font-weight: 300;
    width: 60%;
    li {
      margin-bottom: 20px;
      a {
        font-size: inherit;
        color: inherit;
        text-decoration: none;
      }

      &:hover {
        color: #17252a;
        transition: all 0.3s ease-out;
      }
    }
  }
}
