@import "../../global.scss";

.portfolio {
  background-color: $lightGreyColor2;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: calc(100vh - 70px);
  overflow-y: hide;
  margin-top: 140px;
  overflow-y: hidden;

  @include md {
    justify-content: flex-start;
  }

  .arrow {
    height: 40px;
    position: absolute;
    cursor: pointer;

    @include lg {
      height: 25px;
    }

    &.left {
      margin-left: 10px;
      left: 0px;
      transform: rotate(90deg);
      @include xl {
        left: 100px;
      }
      @include md {
        bottom: 150px;
        left: 200px;
      }
      @include fivehundred {
        left: 100px;
      }
    }
    &.right {
      margin-right: 10px;
      right: 0px;
      transform: rotate(270deg);
      @include xl {
        right: 100px;
      }
      @include md {
        bottom: 150px;
        right: 200px;
      }
      @include fivehundred {
        right: 100px;
      }
    }
  }

  .slider {
    height: 450px;
    display: flex;
    position: absolute;

    left: 0;
    transition: all 1s ease-out;

    @include md {
      height: 90vh;
      top: 20;
    }
    .container {
      width: 100vw;
      display: flex;
      align-items: space-between;
      justify-content: center;
      overflow: hidden;
      padding: 10px;

      .item {
        width: 800px;
        height: 100%;
        background-color: $lightColor;
        border-radius: 20px;
        display: flex;
        border: 1px solid $lightGreyColor;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
        @include lg {
          width: 700px;
          height: 70%;
        }
        @include md {
          flex-direction: column-reverse;
        }

        .left {
          flex: 4;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          padding-right: 5px;
          padding: 30px;

          @include md {
            font-size: 18px;
            padding: 20px;
          }

          .iconImg {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            border: 2px solid $lightGreyColor;
            background-color: $lightGreyColor2;
            display: flex;
            align-items: center;
            justify-content: center;

            @include md {
              display: none;
            }
            img {
              width: 25px;
            }
          }

          h2 {
            font-size: 25px;
          }
          @include sm {
            font-size: 20px;
          }
          @include xxs {
            font-size: 16px;
            line-height: 1;
          }
          p {
            font-size: 20px;
          }
          .links {
            font-size: 24px;
            font-weight: 700;
            text-decoration: underline;
            display: flex;
            justify-content: space-between;
            width: 75%;

            @include md {
              width: 100%;
              justify-content: space-around;
              font-size: 30px;
            }

            a {
              color: $mainColor;
              text-decoration: none;
              color: $darkCyanColor;
              transition: all 0.3s ease;
            }
          }
        }

        .right {
          height: 100%;
          overflow: hidden;
          flex: 6;
          @include xs {
            flex: 4;
          }
          img {
            border-radius: 12px;
            padding: 10px;
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: 10% 10%;

            @include md {
              padding: 0px;
              object-position: 10% 50%;
            }
            @include sm {
              border-radius: 0px;
            }

            // &:nth-of-type(3) {
            //   @include md {
            //     padding: 0px;
            //     object-position: 0% 25%;
            //   }
            // }
          }
        }
      }
    }
  }
}
