@import "../../global.scss";

.works {
  height: calc(100vh - 70px);
  background-color: #f3f3f3;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    font-size: 50px;
    margin-top: 65px;
    color: #17252a;
    overflow: hidden;
    z-index: 1;

    @include sm {
      margin-top: 40px;
      font-size: 30px;
    }
  }
  .container {
    margin-top: 30px;
    width: 90%;
    height: calc(100vh - 310px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    @include xl {
      width: 1340px;
    }
    @include md {
      width: 100%;
      height: 85%;
    }
    @include sm {
      align-items: flex-start;
      height: 100%;
      margin-top: 20px;
    }

    .item {
      width: 250px;
      height: 180px;
      border-radius: 20px;
      border: 1px solid $lightGreyColor;
      margin: 10px 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $lightBlueColor;
      position: relative;

      @include xl {
        width: 300px;
        height: 200px;
      }
      @include md {
        width: 220px;
        height: 150px;
      }
      @include sm {
        width: 200px;
        height: 120px;
      }
      div {
        width: 90%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        position: absolute;
        font-size: 18px;
        font-weight: 300;
        word-break: break-word;
        text-align: center;

        a {
          font-size: inherit;
          text-decoration: none;
          color: inherit;
        }
        .demo {
          color: $mainColor;
        }
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 1;
      }

      &:hover {
        background: #17252a;

        img {
          opacity: 0.2;
          z-index: 0; //hides image behind the text
        }
      }
    }
  }
}
