@import "../../global.scss";

.works {
  background-color: $lightGreyColor2;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  overflow-y: hide;
  h1 {
    font-size: 40px;
    color: $darkColor;
    overflow: hidden;
    text-align: center;
    margin: 30px 15px;
    opacity: 0;
    @include md {
      font-size: 30px;
    }
    @include fivehundred {
      font-size: 25px;
    }
    @include sm {
      margin-bottom: 10px;
    }
    @include xs {
      margin: 20px 10px 10px;
    }
  }
  .container {
    width: 75%;
    height: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
    overflow: hidden;
    opacity: 0;

    @include xl {
      width: 1000px;
    }
    @include eighttwenty {
      width: 100%;
    }
    @include sm {
      height: calc(90% - 75px);
      width: 120%;
    }
    @include xs {
      align-items: flex-start;
    }

    .item {
      border-radius: 20px;
      width: 250px;
      height: 150px;
      margin: 10px 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $lightBlueColor;
      position: relative;

      // @include xl {
      //   width: 280px;
      //   height: 180px;
      // }

      @include eighttwenty {
        width: 40%;
        height: 30%;
      }
      @include sm {
        width: 35%;
        height: 25%;
        border-radius: 10px;
        align-self: stretch;

        &:nth-child(3) {
          img {
            object-position: 0% 0%;
          }
        }
      }
      div {
        width: 90%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        position: absolute;
        font-size: 18px;
        font-weight: 300;
        word-break: break-word;
        text-align: center;

        a {
          font-size: inherit;
          text-decoration: none;
          color: inherit;
        }
        .demo {
          color: $mainColor;
        }
      }

      img {
        border-radius: 20px;
        border: 1px solid $lightGreyColor;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 1;

        @include sm {
          border-radius: 10px;
        }
      }

      &:hover {
        background: $darkColor;
        img {
          opacity: 0.2;
          z-index: 0; //hides image behind the text
        }
      }
    }
  }
}
