@font-face {
  font-family: "Mulish";
  src: local("Mulish"),
    url("./assets/fonts/Mulish/Mulish-VariableFont_wght.ttf") format("truetype");
}
@font-face {
  font-family: "Mulish-Italic";
  src: local("Mulish"),
    url("./assets/fonts/Mulish/Mulish-Italic-VariableFont_wght.ttf")
      format("truetype");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Mulish";
}

/* .App {
  text-align: center;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
} */

/* #b4e0e8 blue header*/
/* #f7f7f7 grey header*/
/* #eff7fa blue background */
/* #f3f3f3 grey background */
/* #fcfcfc grey section*/
/* #eef4e8 green background */
