:root {
  --posX: 0;
  --posY: 0;
}
.app {
  height: 100vh;
  * > {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .sections {
    width: 100%;
    height: calc(100vh - 70px);
    position: relative;
    top: 70px;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    scrollbar-width: none; //firefox
    //other browsers
    &::-webkit-scrollbar {
      display: none;
    }

    > * {
      width: 100%;
      height: calc(100vh - 70px);
      scroll-snap-align: start;
    }
  }
}
