// color palette
$mainColor: #3aafa9;
$darkColor: #17252a;
$darkCyanColor: #2b7a78;
$lightBlueColor: #def2f1;
$lightColor: #feffff;
$lightGreyColor: #d5d5d5;

// breakpoints
$xl: 1280px; //big screens
$lg: 1024px;
$eighttwenty: 820px; //big tablet
$md: 768px; //tablet
$sm: 600px;
$fivehundred: 500px;
$fourseventyfive: 475px;
$xs: 425px; //mobile
$xxs: 375px; //small screens

// mixins for responsive layout
@mixin xl {
  @media (min-width: #{$xl}) {
    @content;
  }
}
@mixin lg {
  @media (max-width: #{$lg}) {
    @content;
  }
}
@mixin eighttwenty {
  @media (max-width: #{$eighttwenty}) {
    @content;
  }
}
@mixin md {
  @media (max-width: #{$md}) {
    @content;
  }
}
@mixin sm {
  @media (max-width: #{$sm}) {
    @content;
  }
}
@mixin fivehundred {
  @media (max-width: #{$fivehundred}) {
    @content;
  }
}
@mixin fourseventyfive {
  @media (max-width: #{$fourseventyfive}) {
    @content;
  }
}

@mixin xs {
  @media (max-width: #{$xs}) {
    @content;
  }
}
@mixin xxs {
  @media (max-width: #{$xxs}) {
    @content;
  }
}

/* #b4e0e8 blue header*/
/* #f7f7f7 grey header*/
/* #eff7fa blue background */
/* #f3f3f3 grey background */
/* #fcfcfc grey section*/
/* #eef4e8 green background */
/* yellow background #fef7db */
